@use 'typography' as typography;
@use 'colors' as colors;

.page-header {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.logo-container {
  padding: 20px 0;
}

.header-label {
  @include typography.apply-type(page-title);
  color: colors.$text-1;
}
