@use 'typography' as typography;
@use 'colors' as colors;
@use 'spacing' as spacing;

.page-header {
  display: flex;
  flex-direction: column;
  gap: spacing.$space-45px;
}

.logo-container {
  padding: spacing.$space-unit * 5 spacing.$space-unit * 0;
}

.header-label {
  @include typography.apply-type(page-title);
  color: colors.$text-1;
}
