/**
 * Font definitions and color should be coming from design tokens, but for the sake of this exercise, we will hardcode them here. 
 * In a real application, we would want to use design tokens to ensure consistency across the application and make it easier to 
 * update styles in the future.
 */

@use 'colors' as colors;
@use 'spacing' as spacing;
@use 'typography' as typography;
@use 'variables' as variables;

.work-center {
  background-color: transparent;
  width: 100%;
  height: variables.$grid-data-row-height;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.name {
  color: colors.$text-1;
  @include typography.apply-type(label-md);
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
