@use 'colors' as colors;
@use 'spacing' as spacing;
@use 'variables' as variables;

.timeline-header {
  height: variables.$grid-header-row-height;
  display: flex;
  align-items: center;
  background: colors.$background-default;
  border-bottom: 1px solid colors.$border-default;
}

.timeline-header-inner {
  display: flex;
  min-width: max-content;

  font-size: 14px;
  color: #687196;
  font-weight: 500;
  line-height: 1.2;
}

.timeline-header-cell {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 0 0 variables.$timescale-unit-width-px;
  width: 150px;
  box-sizing: border-box;
  text-align: center;
}
