/**
 * @upgrade Create design system spacing tokens based on sketch and update components to use tokens instead of hard coded spacing values
 */
$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 24px;
