$grid-work-center-width: 382px;
$grid-header-row-height: 33px;
$grid-data-row-height: 48px;

// must match const TIMESCALE_UNIT_*_WIDTH_PX in timeline.ts
$timescale-unit-day-width-px: 150px;
$timescale-unit-week-width-px: 1000px;
$timescale-unit-month-width-px: 3500px;

$offcanvas-width: 591px;
