@use 'colors' as colors;
@use 'spacing' as spacing;
@use 'typography' as typography;
@use 'variables' as variables;

.timeline {
  padding-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* 2 × 2 GRID */
.work-orders-timeline {
  display: grid;
  grid-template-columns: variables.$grid-work-center-width 1fr;
  grid-template-rows: variables.$grid-header-row-height auto;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
  border-left: 1px solid #e5e7eb;
}

/* TOP LEFT */
.work-center-header {
  grid-column: 1;
  grid-row: 1;

  position: sticky;
  top: 0;
  z-index: 30;

  background: #fff;
  border-bottom: 1px solid #e5e7eb;
  // border-right: 1px solid colors.$border-default;

  height: variables.$grid-header-row-height;

  display: flex;
  align-items: center;
  padding-left: 31px;

  & > span {
    color: #687196;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
  }
}

/* RIGHT COLUMN (ONLY SCROLL CONTAINER) */
// .right-column {
//   grid-column: 2;
//   grid-row: 1 / span 2;

//   overflow-x: auto; /* SINGLE SCROLL CONTEXT */
//   overflow-y: hidden;
//   position: relative;
// }

/* HEADER */
.timeline-header {
  position: sticky;
  top: 0;
  z-index: 20;

  background: #fff;
  border-bottom: 1px solid #e5e7eb;

  height: variables.$grid-header-row-height;
  display: flex;
  align-items: center;
}

.timeline-header-inner {
  min-width: max-content;
  white-space: nowrap;
}

/* LEFT COLUMN BODY */
.work-centers {
  grid-column: 1;
  grid-row: 2;

  position: sticky;
  left: 0;
  z-index: 10;

  background: #fff;

  display: flex;
  flex-direction: column;
}

/* RIGHT COLUMN BODY */
.right-column {
  grid-column: 2;
  grid-row: 1 / span 2;

  overflow-x: auto;
  overflow-y: hidden;
  position: relative;

  background-color: #f7f9fc;

  overflow-x: auto;
  overflow-y: hidden;

  border-left: 1px solid colors.$border-default;
  // border-bottom: 1px solid colors.$border-default;
}

// .timeline-rows {
//   min-width: max-content;
//   display: flex;
//   flex-direction: column;

//   background-color: #f7f9fc;
//   background-image: repeating-linear-gradient(to right, transparent 0, transparent 149px, #e5e7eb 149px, #e5e7eb 150px);
//   background-size: 150px 100%;
//   background-repeat: repeat-x;
// }

.timeline-rows {
  display: flex;
  flex-direction: column;

  // background-image: repeating-linear-gradient(to right, #e5e7eb 0, #e5e7eb 1px, transparent 1px, transparent 150px);
  background-image: repeating-linear-gradient(to right, transparent 0, transparent 149px, #e5e7eb 149px, #e5e7eb 150px);

  background-size: 150px 100%;
  background-repeat: repeat-x;
}

/* ROWS */
.timeline-row,
.work-center-row {
  display: flex;
  align-items: center;
  height: variables.$grid-data-row-height;
}

.work-center-row {
  padding-left: 31px;
  border-bottom: 1px solid colors.$border-default;
}

.work-centers > .work-center-row:last-of-type {
  border-bottom: none;
}

.timeline-row {
  border-bottom: 1px solid transparent;
}

/* HOVER STATES */
.work-center-row.hovered {
  background-color: #f5f7ff;
}

.timeline-row.hovered {
  background-color: #eef0ff;
}
