@use 'colors' as colors;
@use 'spacing' as spacing;
@use 'typography' as typography;
@use 'variables' as variables;

:host ::ng-deep .ng-select.ng-select-focused .ng-select-container {
  border: 2px solid rgba(170, 175, 255, 1);
  box-shadow: none;
}

.work-order-form {
  padding: spacing.$space-unit * 4 spacing.$space-unit * 0;
}

.header {
  padding: spacing.$space-unit * 6;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: spacing.$space-5px;
}

.header-group {
  display: flex;
  flex-direction: column;
  gap: spacing.$space-5px;

  .title {
    color: colors.$text-2;
    @include typography.apply-type(drawer-title);
    font-style: normal;
  }

  .description {
    color: colors.$text-4;
    @include typography.apply-type(drawer-subtitle);
    font-style: normal;
  }
}

.actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: spacing.$space-unit * 4;
}

.separator {
  margin-top: spacing.$space-unit * 4;
  width: 100%;
  height: 1px;
  border-top: 1px solid rgba(230, 235, 240, 1);
}

.form-fields {
  padding: spacing.$space-unit * 6;

  display: flex;
  flex-direction: column;
  gap: spacing.$space-10px;

  .form-field {
    display: flex;
    flex-direction: column;
    gap: spacing.$space-unit * 2;

    > * {
      width: 100%;
    }

    label {
      color: colors.$text-4;
      @include typography.apply-type(label-md);
      font-style: normal;
    }

    .validation-error {
      padding: spacing.$space-unit * 0 spacing.$space-unit * 0 spacing.$space-unit * 0 spacing.$space-unit * 3;
      color: colors.$text-danger;
      margin: 0;
      @include typography.apply-type(body-tight);
      min-height: 14px;
    }
  }
}

.form-field input::placeholder,
:host ::ng-deep .form-field input.form-control::placeholder {
  color: colors.$text-placeholder;
  opacity: 1;
}
