@use 'colors' as colors;
@use 'spacing' as spacing;
@use 'typography' as typography;
@use 'variables' as variables;

.work-center {
  background-color: transparent;
  width: 100%;
  height: variables.$grid-data-row-height;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.name {
  color: colors.$text-1;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}
