/**
 * @upgrade
 * Font definitions and color should be coming from design tokens, but for the sake of this exercise, we will hardcode them here. 
 * In a real application, we would want to use design tokens to ensure consistency across the application and make it easier to 
 * update styles in the future.
 */

@use 'colors' as colors;
@use 'spacing' as spacing;
@use 'typography' as typography;
@use 'variables' as variables;

.work-order {
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 10px 8px;

  .three-dots {
    visibility: hidden;
  }

  &:hover .three-dots,
  .three-dots.visible {
    visibility: visible;
  }
}

.name {
  color: colors.$text-1;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.three-dots-button {
  padding: 8px;
  background: transparent;
  border: none;
  width: 24px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #f1f3f8;
  // Inherit custom cursor from parent if set
  cursor: inherit;

  &:hover {
    background-color: #d8dceb;
  }

  .icon {
    display: block;
    padding: 0;
  }
}

.dropdown-slot {
  width: 24px;
  display: flex;
  justify-content: center;
}

.status {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.dropdown-toggle::after {
  display: none;
}

.open {
  box-shadow: 0 0 0 1px colors.$status-open-parent-border-color;
  background-color: colors.$status-open-parent-background-color;
}

.in-progress {
  box-shadow: 0 0 0 1px colors.$status-in-progress-parent-border-color;
  background-color: colors.$status-in-progress-parent-background-color;
}

.complete {
  box-shadow: 0 0 0 1px colors.$status-complete-parent-border-color;
  background-color: colors.$status-complete-parent-background-color;
}

.blocked {
  box-shadow: 0 0 0 1px colors.$status-blocked-parent-border-color;
  background-color: colors.$status-blocked-parent-background-color;
}

.work-order-menu {
  box-shadow:
    0 0 0 1px rgba(104, 113, 150, 0.1),
    0 2.5px 3px -1.5px rgba(200, 207, 233, 1),
    0 4.5px 5px -1px rgba(216, 220, 235, 1);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
}

.work-order-menu .dropdown-item {
  height: 28px;
  padding: 5px 12px;
  color: colors.$text-2;
  font-size: 14px;
  font-weight: 400;

  &:hover,
  &:focus {
    background-color: transparent !important;
    color: #3e40db;
  }
}
