/* You can add global styles to this file, and also import other style files */
@use 'bootstrap/scss/bootstrap';

@use 'libs/ng-select';
@use 'libs/ngb-tooltip';
@use 'libs/ngb-dropdown';
@use 'libs/ngb-offcanvas';

@use 'reset';
@use 'colors' as colors;
@use 'spacing' as spacing;
@use 'typography' as typography;
@use 'variables' as variables;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: typography.$font-family-base;
  background-color: colors.$white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// work order button styles
.naologic-button {
  height: 32px;
  border-radius: 7px;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  outline: none;
  border: none;
  min-width: 70px;

  transition:
    background-color 0.15s ease,
    opacity 0.15s ease;
}

.primary-button {
  @extend .naologic-button;

  color: colors.$white;
  box-shadow:
    0 0 0 1px rgba(86, 89, 255, 1),
    0 1px 3px 0 rgba(200, 207, 233, 1);
  background-color: rgba(86, 89, 255, 1);

  transition:
    background-color 0.15s ease,
    opacity 0.15s ease;

  &:disabled {
    background-color: #e5e7eb;
    color: #9ca3af;
    pointer-events: none;
    box-shadow: none;
  }
}

.secondary-button {
  @extend .naologic-button;

  color: colors.$text-2;
  box-shadow:
    0 0 0 1px rgba(255, 255, 255, 1),
    0 1px 3px 0 rgba(200, 207, 233, 1);
  background-color: rgba(255, 255, 255, 1);

  transition:
    background-color 0.15s ease,
    opacity 0.15s ease;

  &:disabled {
    background-color: #e5e7eb;
    color: #9ca3af;
    pointer-events: none;
    box-shadow: none;
  }
}

// form-field input override
.form-field input {
  height: 38px;
  padding: 0 12px;
  border-radius: 5px;
  background: #fff;

  border: 1px solid rgba(216, 220, 235, 1);

  box-shadow:
    0 1.5px 3px -1.5px rgba(200, 207, 233, 1),
    0 1px 0.5px -1px rgba(216, 220, 235, 1);

  outline: none;
  transition:
    border-color 0.15s ease,
    box-shadow 0.15s ease;

  &:focus {
    border: 2px solid rgba(170, 175, 255, 1);
    box-shadow: none;
  }
}

input:-webkit-autofill {
  -webkit-text-fill-color: #2f3059;

  -webkit-box-shadow:
    0 0 0 1000px #ffffff inset,
    0 0 0 1px rgba(216, 220, 235, 1),
    0 1.5px 3px -1.5px rgba(200, 207, 233, 1),
    0 1px 0.5px -1px rgba(216, 220, 235, 1);
}
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
  -webkit-text-fill-color: #2f3059;
}

.hide-scrollbar {
  /* Hide scrollbar for Chrome, Safari, Edge */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  /* Hide scrollbar for IE */
  -ms-overflow-style: none;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// custom hand cursor
.custom-hand-cursor {
  cursor:
    url('/images/custom-hand-cursor.png') 16 16,
    auto;
}
